<section class="events section" id="event">
  <div class="container">
    <div class="events-title-wrapper">
      <h2 class="events-title section-title">
        Explore Our Upcoming Workshop Schedule
      </h2>
      <p class="events-text section-text">
        Join us for immersive plein air drawing workshops. Experience nature
        while honing your artistic skills.
      </p>
    </div>
    <ul class="events-list">
      <li class="events-item">
        <img
          class="events-img"
          srcset="./img/event/event-1.jpg 1x, ./img/event/event-1@2x.jpg 2x"
          src="./img/event/event-1.jpg"
          alt="Morning Light Sketching"
          width="311"
          height="225"
          loading="lazy"
        />
        <div class="events-details">
          <h3 class="events-list-title section-title">
            Morning Light Sketching
          </h3>
          <div class="events-list-location-wrapper">
            <div class="events-list-link-wrapper">
              <a
                class="events-list-link"
                href="https://www.google.com.ua/maps/place/%D0%A6%D0%B5%D0%BD%D1%82%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9+%D0%BF%D0%B0%D1%80%D0%BA/@40.7796774,-73.9973382,13.6z/data=!4m10!1m2!2m1!1sCentral+Park+Meadow!3m6!1s0x89c2589a018531e3:0xb9df1f7387a94119!8m2!3d40.7825547!4d-73.9655834!15sChNDZW50cmFsIFBhcmsgTWVhZG93WhUiE2NlbnRyYWwgcGFyayBtZWFkb3eSAQRwYXJrmgEkQ2hkRFNVaE5NRzluUzBWSlEwRm5TVU5VTXkxVVZtMUJSUkFC4AEA-gEECAAQMw!16zL20vMDljN3Y?hl=ru&entry=ttu&g_ep=EgoyMDI2MTAwNS4wIKXMDSoASAFQAw%3D%3D"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="events-icon" width="24" height="24">
                  <use href="./img/icons.svg#map"></use>
                </svg>
                <p class="events-list-location">Central Park Meadow</p>
              </a>
            </div>
            <p class="events-list-time">09 Jun 8:00 am</p>
          </div>
        </div>
        <a class="events-list-btn" href="#register">Register</a>
      </li>
      <li class="events-item">
        <img
          class="events-img"
          srcset="./img/event/event-2.jpg 1x, ./img/event/event-2@2x.jpg 2x"
          src="./img/event/event-2.jpg"
          alt="Floral Focus: Painting Wildflowers"
          width="311"
          height="225"
          loading="lazy"
        />
        <div class="events-details">
          <h3 class="events-list-title section-title">
            Floral Focus: Painting Wildflowers
          </h3>
          <div class="events-list-location-wrapper">
            <div class="events-list-link-wrapper">
              <a
                class="events-list-link"
                href="https://www.google.com.ua/maps/place/%D0%9F%D0%B0%D1%80%D0%BA+%D0%A0%D0%B8%D0%B2%D0%B5%D1%80%D1%81%D0%B0%D0%B9%D0%B4/@40.7798179,-74.052443,12z/data=!4m10!1m2!2m1!1sRiverside+Botanical+Trail!3m6!1s0x89c2f62ed8cf502f:0x7c67f4849fdf7287!8m2!3d40.8095625!4d-73.9673125!15sChlSaXZlcnNpZGUgQm90YW5pY2FsIFRyYWlsWhsiGXJpdmVyc2lkZSBib3RhbmljYWwgdHJhaWySAQRwYXJrmgEjQ2haRFNVaE5NRzluUzBWSlEwRm5TVU5LZHpWaGQyWlJFQUXgAQD6AQQIABBI!16zL20vMDFkZ3Jj?hl=ru&entry=ttu&g_ep=EgoyMDI2MTAwNS4wIKXMDSoASAFQAw%3D%3D"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="events-icon" width="24" height="24">
                  <use href="./img/icons.svg#map"></use>
                </svg>
                <p class="events-list-location">Riverside Botanical Trail</p>
              </a>
            </div>
            <p class="events-list-time">10 Jun 5:00 pm</p>
          </div>
        </div>
        <a class="events-list-btn" href="#register">Register</a>
      </li>
      <li class="events-item">
        <img
          class="events-img"
          srcset="./img/event/event-3.jpg 1x, ./img/event/event-3@2x.jpg 2x"
          src="./img/event/event-3.jpg"
          alt="Color & Composition Basics"
          width="311"
          height="225"
          loading="lazy"
        />
        <div class="events-details">
          <h3 class="events-list-title section-title">
            Color & Composition Basics
          </h3>
          <div class="events-list-location-wrapper">
            <div class="events-list-link-wrapper">
              <a
                class="events-list-link"
                href="https://www.google.com.ua/maps/place/Forest+Edge+Retreat/@52.5144477,0.6261625,17z/data=!4m9!3m8!1s0x47d82559717e1937:0xcf56191a93fb4674!5m2!4m1!1i2!8m2!3d52.5144445!4d0.6287321!16s%2Fg%2F11c54dby16?hl=ru&entry=ttu&g_ep=EgoyMDI2MTAwNS4wIKXMDSoASAFQAw%3D%3D"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="events-icon" width="24" height="24">
                  <use href="./img/icons.svg#map"></use>
                </svg>
                <p class="events-list-location">Forest Edge Retreat</p>
              </a>
            </div>
            <p class="events-list-time">11 Jun 7:00 pm</p>
          </div>
        </div>
        <a class="events-list-btn" href="#register">Register</a>
      </li>
      <li class="events-item">
        <img
          class="events-img"
          srcset="./img/event/event-4.jpg 1x, ./img/event/event-4@2x.jpg 2x"
          src="./img/event/event-4.jpg"
          alt="Drawing Stillness: Meditative Sketching"
          width="311"
          height="225"
          loading="lazy"
        />
        <div class="events-details">
          <h3 class="events-list-title section-title">
            Drawing Stillness: Meditative Sketching
          </h3>
          <div class="events-list-location-wrapper">
            <div class="events-list-link-wrapper">
              <a
                class="events-list-link"
                href="https://www.google.com.ua/maps/place/%D0%9C%D0%B5%D0%BC%D0%BE%D1%80%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9+%D0%BF%D0%B0%D1%80%D0%BA+%D0%A3%D0%B8%D0%BB%D0%BB%D0%BE%D1%83+%D0%93%D1%80%D0%BE%D0%B2/@40.1415094,-75.1288499,15z/data=!4m10!1m2!2m1!1sWillow+Grove+Field!3m6!1s0x89c6b02e575baf1b:0xd2a8fae97815a4d9!8m2!3d40.1459698!4d-75.1136905!15sChJXaWxsb3cgR3JvdmUgRmllbGRaFCISd2lsbG93IGdyb3ZlIGZpZWxkkgENbWVtb3JpYWxfcGFya5oBRENpOURRVWxSUVVOdlpFTm9kSGxqUmpsdlQyeHNjV0ZzVW5sUlZWWk9WMFJzUzJGRlZqWk9SM2hxVlVoa2FVNUlZeEFC4AEA-gEECAAQIw!16s%2Fg%2F1260yz3jl?hl=ru&entry=ttu&g_ep=EgoyMDI2MTAwNS4wIKXMDSoASAFQAw%3D%3D"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="events-icon" width="24" height="24">
                  <use href="./img/icons.svg#map"></use>
                </svg>
                <p class="events-list-location">Willow Grove Field</p>
              </a>
            </div>
            <p class="events-list-time">14 Jun 8:00 pm</p>
          </div>
        </div>
        <a class="events-list-btn" href="#register">Register</a>
      </li>
      <li class="events-item">
        <img
          class="events-img"
          srcset="./img/event/event-5.jpg 1x, ./img/event/event-5@2x.jpg 2x"
          src="./img/event/event-5.jpg"
          alt="Golden Hour Landscape Study"
          width="311"
          height="225"
          loading="lazy"
        />
        <div class="events-details">
          <h3 class="events-list-title section-title">
            Golden Hour Landscape Study
          </h3>
          <div class="events-list-location-wrapper">
            <div class="events-list-link-wrapper">
              <a
                class="events-list-link"
                href="https://www.google.com.ua/maps/place/Hilltop+at+Falls+Ridge/@40.1416715,-75.2830384,11z/data=!4m10!1m2!2m1!1sSunset+Ridge+Hilltop!3m6!1s0x89c6b87ce435e50b:0xa8d0f12c096d81ae!8m2!3d40.0128385!4d-75.200077!15sChRTdW5zZXQgUmlkZ2UgSGlsbHRvcJIBEnJlYWxfZXN0YXRlX2FnZW50c-ABAA!16s%2Fg%2F1txfq333?hl=ru&entry=ttu&g_ep=EgoyMDI2MTAwNS4wIKXMDSoASAFQAw%3D%3D"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="events-icon" width="24" height="24">
                  <use href="./img/icons.svg#map"></use>
                </svg>
                <p class="events-list-location">Sunset Ridge Hilltop</p>
              </a>
            </div>
            <p class="events-list-time">15 Jun 8:00 pm</p>
          </div>
        </div>
        <a class="events-list-btn" href="#register">Register</a>
      </li>
    </ul>
  </div>
</section>
