<section class="events section" id="event">
  <div class="container">
    <div class="events-title-wrapper">
      <h2 class="events-title section-title">
        Explore Our Upcoming Workshop Schedule
      </h2>
      <p class="events-text section-text">
        Join us for immersive plein air drawing workshops. Experience nature
        while honing your artistic skills.
      </p>
    </div>
    <ul class="events-list">
      <li class="events-item">
        <img
          class="events-img"
          srcset="./img/event/event-1.jpg 1x, ./img/event/event-1@2x.jpg 2x"
          src="./img/event/event-1.jpg"
          alt="side-view-woman-painting-outdoors"
          width="311"
          height="225"
          loading="lazy"
        />
        <div class="events-details">
          <h3 class="events-list-title section-title">
            Morning Light Sketching
          </h3>
          <div class="events-list-location-wrapper">
            <div class="events-list-link-wrapper">
              <a
                class="events-list-link"
                href="https://www.google.com/maps/search/Central+Park+Meadow"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="events-icon" width="24" height="24">
                  <use href="./img/icons.svg#map"></use>
                </svg>
                <p class="events-list-location">Central Park Meadow</p>
              </a>
            </div>
            <time class="events-list-time" datetime="2026-06-09T08:00"
              >09 Jun 8:00 am</time
            >
          </div>
        </div>
        <a
          class="events-list-btn"
          href="#register"
          aria-label="Register for Morning Light Sketching"
          >Register</a
        >
      </li>
      <li class="events-item">
        <img
          class="events-img"
          srcset="./img/event/event-2.jpg 1x, ./img/event/event-2@2x.jpg 2x"
          src="./img/event/event-2.jpg"
          alt="cute-little-girl-painting-park"
          width="311"
          height="225"
          loading="lazy"
        />
        <div class="events-details">
          <h3 class="events-list-title section-title">
            Floral Focus: Painting Wildflowers
          </h3>
          <div class="events-list-location-wrapper">
            <div class="events-list-link-wrapper">
              <a
                class="events-list-link"
                href="https://maps.app.goo.gl/tkR818SePVot9AmA7"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="events-icon" width="24" height="24">
                  <use href="./img/icons.svg#map"></use>
                </svg>
                <p class="events-list-location">Riverside Botanical Trail</p>
              </a>
            </div>
            <time class="events-list-time" datetime="2026-06-10T17:00"
              >10 Jun 5:00 pm</time
            >
          </div>
        </div>
        <a
          class="events-list-btn"
          href="#register"
          aria-label="Register for Floral Focus: Painting Wildflowers"
          >Register</a
        >
      </li>
      <li class="events-item">
        <img
          class="events-img"
          srcset="./img/event/event-3.jpg 1x, ./img/event/event-3@2x.jpg 2x"
          src="./img/event/event-3.jpg"
          alt="female-artist-with-color-palette-hand"
          width="311"
          height="225"
          loading="lazy"
        />
        <div class="events-details">
          <h3 class="events-list-title section-title">
            Color & Composition Basics
          </h3>
          <div class="events-list-location-wrapper">
            <div class="events-list-link-wrapper">
              <a
                class="events-list-link"
                href="https://www.google.com.ua/maps/place/Forest+Edge+Retreat/@52.5144477,0.6261625,17z/data=!4m9!3m8!1s0x47d82559717e1937:0xcf56191a93fb4674!5m2!4m1!1i2!8m2!3d52.5144445!4d0.6287321!16s%2Fg%2F11c54dby16?hl=ru&entry=ttu&g_ep=EgoyMDI2MTAwNS4wIKXMDSoASAFQAw%3D%3D"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="events-icon" width="24" height="24">
                  <use href="./img/icons.svg#map"></use>
                </svg>
                <p class="events-list-location">Forest Edge Retreat</p>
              </a>
            </div>
            <time class="events-list-time" datetime="2026-06-11T19:00"
              >11 Jun 7:00 pm</time
            >
          </div>
        </div>
        <a
          class="events-list-btn"
          href="#register"
          aria-label="Register for Color & Composition Basics"
          >Register</a
        >
      </li>
      <li class="events-item">
        <img
          class="events-img"
          srcset="./img/event/event-4.jpg 1x, ./img/event/event-4@2x.jpg 2x"
          src="./img/event/event-4.jpg"
          alt="mother-with-daughter-drawing-park"
          width="311"
          height="225"
          loading="lazy"
        />
        <div class="events-details">
          <h3 class="events-list-title section-title">
            Drawing Stillness: Meditative Sketching
          </h3>
          <div class="events-list-location-wrapper">
            <div class="events-list-link-wrapper">
              <a
                class="events-list-link"
                href="https://www.google.com.ua/maps/search/Willow+Grove+Field"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="events-icon" width="24" height="24">
                  <use href="./img/icons.svg#map"></use>
                </svg>
                <p class="events-list-location">Willow Grove Field</p>
              </a>
            </div>
            <time class="events-list-time" datetime="2026-06-14T20:00"
              >14 Jun 8:00 pm</time
            >
          </div>
        </div>
        <a
          class="events-list-btn"
          href="#register"
          aria-label="Register for Drawing Stillness: Meditative Sketching"
          >Register</a
        >
      </li>
      <li class="events-item">
        <img
          class="events-img"
          srcset="./img/event/event-5.jpg 1x, ./img/event/event-5@2x.jpg 2x"
          src="./img/event/event-5.jpg"
          alt="beautiful-female-artist-painting-sunset-nature"
          width="311"
          height="225"
          loading="lazy"
        />
        <div class="events-details">
          <h3 class="events-list-title section-title">
            Golden Hour Landscape Study
          </h3>
          <div class="events-list-location-wrapper">
            <div class="events-list-link-wrapper">
              <a
                class="events-list-link"
                href="https://www.google.com.ua/maps/place/Hilltop+at+Falls+Ridge/@40.1416715,-75.2830384,11z/data=!4m10!1m2!2m1!1sSunset+Ridge+Hilltop!3m6!1s0x89c6b87ce435e50b:0xa8d0f12c096d81ae!8m2!3d40.0128385!4d-75.200077!15sChRTdW5zZXQgUmlkZ2UgSGlsbHRvcJIBEnJlYWxfZXN0YXRlX2FnZW50c-ABAA!16s%2Fg%2F1txfq333?hl=ru&entry=ttu&g_ep=EgoyMDI2MTAwNS4wIKXMDSoASAFQAw%3D%3D"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="events-icon" width="24" height="24">
                  <use href="./img/icons.svg#map"></use>
                </svg>
                <p class="events-list-location">Sunset Ridge Hilltop</p>
              </a>
            </div>
            <time class="events-list-time" datetime="2026-06-15T20:00"
              >15 Jun 8:00 pm</time
            >
          </div>
        </div>
        <a
          class="events-list-btn"
          href="#register"
          aria-label="Register for Golden Hour Landscape Study"
          >Register</a
        >
      </li>
    </ul>
  </div>
</section>
