<section class="feedbacks section" id="feedbacks">
  <div class="container">
    <h2 class="feedbacks-title section-title">Customer testimonials</h2>
    <ul class="feedbacks-list">
      <li class="feedbacks-card">
        <div
          class="feedbacks-rating"
          role="img"
          aria-label="Rating: 5 out of 5"
        >
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
        </div>
        <blockquote class="feedbacks-quote">
          <p>
            “An unforgettable way to reconnect with nature and creativity. I
            came home with a full sketchbook and a peaceful mind.”
          </p>
        </blockquote>
        <p class="feedbacks-author">Julia Nguyen</p>
      </li>
      <li class="feedbacks-card">
        <div
          class="feedbacks-rating"
          role="img"
          aria-label="Rating: 4 out of 5"
        >
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#staroutline"></use>
          </svg>
        </div>
        <blockquote class="feedbacks-quote">
          <p>
            “WildSketch helped me rediscover my love for drawing. The
            instructors were kind, encouraging, and deeply inspiring.”
          </p>
        </blockquote>
        <p class="feedbacks-author">Mark Leblanc</p>
      </li>
      <li class="feedbacks-card">
        <div
          class="feedbacks-rating"
          role="img"
          aria-label="Rating: 5 out of 5"
        >
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
        </div>
        <blockquote class="feedbacks-quote">
          <p>
            “Beautiful locations, great energy, and a supportive community. I’m
            not a professional artist, but I felt totally welcomed.”
          </p>
        </blockquote>
        <p class="feedbacks-author">Sofia Mendes</p>
      </li>
      <li class="feedbacks-card">
        <div
          class="feedbacks-rating"
          role="img"
          aria-label="Rating: 4 out of 5"
        >
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#staroutline"></use>
          </svg>
        </div>
        <blockquote class="feedbacks-quote">
          <p>
            “Sketching outdoors in the golden hour was magical. Highly recommend
            for anyone looking to slow down and create.”
          </p>
        </blockquote>
        <p class="feedbacks-author">Daniel Ortiz</p>
      </li>
      <li class="feedbacks-card">
        <div
          class="feedbacks-rating"
          role="img"
          aria-label="Rating: 5 out of 5"
        >
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
        </div>
        <blockquote class="feedbacks-quote">
          <p>
            “The team made everything feel effortless and joyful. I learned so
            much and met wonderful people along the way.”
          </p>
        </blockquote>
        <p class="feedbacks-author">Anika Shah</p>
      </li>
      <li class="feedbacks-card">
        <div
          class="feedbacks-rating"
          role="img"
          aria-label="Rating: 4 out of 5"
        >
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#starfilled"></use>
          </svg>
          <svg class="feedbacks-star" width="24" height="24" aria-hidden="true">
            <use href="./img/icons.svg#staroutline"></use>
          </svg>
        </div>
        <blockquote class="feedbacks-quote">
          <p>
            “Such a wholesome and uplifting experience. WildSketch is now my
            go-to escape when I need a creative reset.”
          </p>
        </blockquote>
        <p class="feedbacks-author">Thomas Becker</p>
      </li>
    </ul>
  </div>
</section>
