<footer class="footer">
  <div class="footer-container container">
    <div class="footer-content">
      <a href="#" class="footer-logo">
        <svg width="268" height="114" class="footer-logo-svg">
          <use href="/img/icons.svg#CompanyLogo"></use>
        </svg>
      </a>
      <ul class="footer-list">
        <li class="footer-item"><a href="#benefits">Benefits</a></li>
        <li class="footer-item"><a href="#contact">Gallery</a></li>
        <li class="footer-item"><a href="#events">Events</a></li>
        <li class="footer-item"><a href="#team">Team</a></li>
        <li class="footer-item"><a href="#feedbacks">Feedbacks</a></li>
      </ul>
    </div>
    <div class="footer-credits">
      <p class="footer-text">© 2025 WildDraw. All rights reserved.</p>
    </div>
  </div>
</footer>
