<section class="gallery section" id="gallery">
  <div class="container">
    <div class="gallery-section-title">
      <h2 class="gallery-title section-title">Artistic Showcase</h2>
      <p class="gallery-text">
        Explore the creativity captured in our workshops.
      </p>
    </div>
    <ul class="gallery-list">
      <li class="gallery-item">
        <img class="gallery-image" src="" alt="" srcset="" loading="lazy" />
      </li>
      <li class="gallery-item">
        <img class="gallery-image" src="" alt="" srcset="" loading="lazy" />
      </li>
      <li class="gallery-item">
        <img class="gallery-image" src="" alt="" srcset="" loading="lazy" />
      </li>
      <li class="gallery-item">
        <img class="gallery-image" src="" alt="" srcset="" loading="lazy" />
      </li>
      <li class="gallery-item">
        <img class="gallery-image" src="" alt="" srcset="" loading="lazy" />
      </li>
      <li class="gallery-item">
        <img class="gallery-image" src="" alt="" srcset="" loading="lazy" />
      </li>
      <li class="gallery-item">
        <img class="gallery-image" src="" alt="" srcset="" loading="lazy" />
      </li>
    </ul>
  </div>
</section>
