<section class="gallery section" id="gallery">
  <div class="container gallery-container">
    <h2 class="gallery-title section-title">Artistic Showcase</h2>
    <p class="gallery-text">
      Explore the creativity captured in our workshops.
    </p>
    <ul class="gallery-list">
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="./img/gallery/gallery-1-440.jpg"
          srcset="
            ./img/gallery/gallery-1-220.jpg 220w,
            ./img/gallery/gallery-1-440.jpg 440w,
            ./img/gallery/gallery-1-832.jpg 832w
          "
          sizes="(min-width: 1440px) 416px, (min-width: 768px) 219px, 160px"
          alt="Watercolor painting of a mountain meadow with wildflowers at dawn"
          width="416"
          height="416"
          loading="lazy"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="./img/gallery/gallery-2-440.jpg"
          srcset="
            ./img/gallery/gallery-2-220.jpg 220w,
            ./img/gallery/gallery-2-440.jpg 440w,
            ./img/gallery/gallery-2-832.jpg 832w
          "
          sizes="(min-width: 1440px) 416px, (min-width: 768px) 219px, 160px"
          alt="Watercolor of a pine forest in front of misty blue mountains"
          width="416"
          height="416"
          loading="lazy"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="./img/gallery/gallery-3-440.jpg"
          srcset="
            ./img/gallery/gallery-3-220.jpg 220w,
            ./img/gallery/gallery-3-440.jpg 440w,
            ./img/gallery/gallery-3-670.jpg 670w,
            ./img/gallery/gallery-3-832.jpg 832w
          "
          sizes="(min-width: 1440px) 416px, (min-width: 768px) 219px, 335px"
          alt="Watercolor of tall fir trees in a sunny forest clearing"
          width="416"
          height="416"
          loading="lazy"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="./img/gallery/gallery-4-360.jpg"
          srcset="
            ./img/gallery/gallery-4-180.jpg 180w,
            ./img/gallery/gallery-4-360.jpg 360w,
            ./img/gallery/gallery-4-692.jpg 692w
          "
          sizes="(min-width: 1440px) 346px, (min-width: 768px) 171px, 160px"
          alt="Watercolor illustration of a river winding through green hills"
          width="304"
          height="346"
          loading="lazy"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="./img/gallery/gallery-5-360.jpg"
          srcset="
            ./img/gallery/gallery-5-180.jpg 180w,
            ./img/gallery/gallery-5-360.jpg 360w,
            ./img/gallery/gallery-5-692.jpg 692w
          "
          sizes="(min-width: 1440px) 346px, (min-width: 768px) 171px, 160px"
          alt="Watercolor sketch of a white flower with a ladybug"
          width="304"
          height="346"
          loading="lazy"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="./img/gallery/gallery-6-360.jpg"
          srcset="
            ./img/gallery/gallery-6-180.jpg 180w,
            ./img/gallery/gallery-6-360.jpg 360w,
            ./img/gallery/gallery-6-692.jpg 692w
          "
          sizes="(min-width: 1440px) 346px, (min-width: 768px) 171px, 160px"
          alt="Watercolor of a deer among pine trees and rocks"
          width="304"
          height="346"
          loading="lazy"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="./img/gallery/gallery-7-360.jpg"
          srcset="
            ./img/gallery/gallery-7-180.jpg 180w,
            ./img/gallery/gallery-7-360.jpg 360w,
            ./img/gallery/gallery-7-692.jpg 692w
          "
          sizes="(min-width: 1440px) 346px, (min-width: 768px) 171px, 160px"
          alt="Watercolor set of picnic items: a book, a basket, a candle and mushrooms"
          width="304"
          height="346"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
</section>
