<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="header-logo" aria-label="Wild Sketch Home">
      <img
        src="./img/logo.svg"
        alt="Wild Sketch Logo"
        width="117"
        height="58"
        class="header-logo-img"
      />
    </a>

    <div class="header-right">
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a href="#benefits" class="header-nav-link">Benefits</a>
          </li>
          <li class="header-nav-item">
            <a href="#gallery" class="header-nav-link">Gallery</a>
          </li>
          <li class="header-nav-item">
            <a href="#events" class="header-nav-link">Events</a>
          </li>
          <li class="header-nav-item">
            <a href="#team" class="header-nav-link">Team</a>
          </li>
          <li class="header-nav-item">
            <a href="#feedbacks" class="header-nav-link">Feedbacks</a>
          </li>
        </ul>
      </nav>

      <a href="#register" class="header-btn">Register</a>
    </div>

    <button
      type="button"
      class="header-burger-btn"
      aria-label="Open mobile menu"
      data-menu-open
    >
      <svg class="header-burger-icon" width="24" height="24">
        <use href="./img/icons.svg#menu"></use>
      </svg>
    </button>
  </div>
</header>
