<section class="section hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">Unleash Your Creativity in Nature's Embrace</h1>
      <p class="hero-text">
        Join us for an inspiring plein air drawing workshop where art meets
        nature. Experience the joy of sketching outdoors while enhancing your
        skills in light and composition.
      </p>
      <div class="hero-buttons">
        <a class="hero-button" href="#register">Register</a>
        <a class="hero-button hero-button-accent" href="#events">Learn More</a>
      </div>
    </div>
    <img
      class="hero-image"
      srcset="
        ../img/hero-img/hero-image.jpg    1x,
        ../img/hero-img/hero-image@2x.jpg 2x
      "
      src="../img/hero-img/hero-image.jpg"
      alt=""
    />
  </div>
</section>
