<section class="section hero">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="hero-title">Unleash Your Creativity in Nature's Embrace</h1>
      <p class="hero-text">
        Join us for an inspiring plein air drawing workshop where art meets
        nature. Experience the joy of sketching outdoors while enhancing your
        skills in light and composition.
      </p>
      <div class="hero-buttons">
        <a class="hero-button" href="#register">Register</a>
        <a class="hero-button hero-button-accent" href="#events">Learn More</a>
      </div>
    </div>
    <img
      class="hero-image"
      srcset="
        ./img/hero-img/hero-image-desk.jpg     857w,
        ./img/hero-img/hero-image-desk@2x.jpg 1714w,
        ./img/hero-img/hero-image-tab.jpg      704w,
        ./img/hero-img/hero-image-tab@2x.jpg  1408w,
        ./img/hero-img/hero-image-mob.jpg      335w,
        ./img/hero-img/hero-image-mob@2x.jpg   670w
      "
      src="./img/hero-img/hero-image-desk.jpg"
      alt="Watercolor illustration of cozy houses among autumn trees and flowers"
      width="857"
      height="659"
      sizes="(min-width: 1440px) 857px, (min-width: 768px) 704px, calc(100vw - 40px)"
    />
  </div>
</section>
