<div class="mobile-menu" id="mobile-menu" data-menu>
  <div class="mobile-menu-bar">
    <a href="#" class="mobile-menu-logo">
      <img
        src="./img/logo.svg"
        alt="Wild Sketch Logo"
        width="117"
        height="50"
        class="mobile-menu-logo-img"
      />
    </a>

    <div class="mobile-menu-actions">
      <a href="#register" class="mobile-menu-btn">Register</a>

      <button
        type="button"
        class="btn mobile-menu-close-btn"
        aria-label="Close mobile menu"
        data-menu-close
      >
        <svg
          class="mobile-menu-close-icon"
          width="24"
          height="24"
          aria-hidden="true"
        >
          <use href="./img/icons.svg#x"></use>
        </svg>
      </button>
    </div>
  </div>

  <nav class="mobile-menu-nav" aria-label="Mobile navigation">
    <ul class="mobile-menu-list">
      <li><a href="#benefits" class="mobile-menu-link">Benefits</a></li>
      <li><a href="#gallery" class="mobile-menu-link">Gallery</a></li>
      <li><a href="#events" class="mobile-menu-link">Events</a></li>
      <li><a href="#team" class="mobile-menu-link">Team</a></li>
      <li><a href="#feedbacks" class="mobile-menu-link">Feedbacks</a></li>
    </ul>
  </nav>
</div>
