<section class="team-section section">
  <div class="container team-container">
    <h2 class="team-section-title section-title">Our team</h2>
    <p class="team-text">
      Meet the passionate artists guiding your plein air journey.
    </p>
    <ul class="team-list">
      <li class="team-card">
        <img
          class="team-card-img"
          src="./img/team-img/team-01.jpg"
          alt="Emma Caldwell"
          srcset="
            ./img/team-img/team-01.jpg    1x,
            ./img/team-img/team-01@2x.jpg 2x
          "
          width="152"
          height="152"
        />
        <h3 class="team-card-name">Emma Caldwell</h3>
        <p class="team-role">Lead Art Instructor</p>
      </li>
      <li class="team-card">
        <img
          class="team-card-img"
          src="./img/team-img/team-02.jpg"
          alt="Lina Morales"
          srcset="
            ./img/team-img/team-02.jpg    1x,
            ./img/team-img/team-02@2x.jpg 2x
          "
          width="152"
          height="152"
        />
        <h3 class="team-card-name">Lina Morales</h3>
        <p class="team-role">Creative Workshop Coordinator</p>
      </li>
      <li class="team-card">
        <img
          class="team-card-img"
          src="./img/team-img/team-03.jpg"
          alt="Owen Fischer"
          srcset="
            ./img/team-img/team-03.jpg    1x,
            ./img/team-img/team-03@2x.jpg 2x
          "
          width="152"
          height="152"
        />
        <h3 class="team-card-name">Owen Fischer</h3>
        <p class="team-role">Materials & Techniques Expert</p>
      </li>
      <li class="team-card">
        <img
          class="team-card-img"
          src="./img/team-img/team-04.jpg"
          alt="Naomi Lee"
          srcset="
            ./img/team-img/team-04.jpg    1x,
            ./img/team-img/team-04@2x.jpg 2x
          "
          width="152"
          height="152"
        />
        <h3 class="team-card-name">Naomi Lee</h3>
        <p class="team-role">Mindfulness & Sketching Coach</p>
      </li>
      <li class="team-card">
        <img
          class="team-card-img"
          src="./img/team-img/team-05.jpg"
          alt="Jack Turner"
          srcset="
            ./img/team-img/team-05.jpg    1x,
            ./img/team-img/team-05@2x.jpg 2x
          "
          width="152"
          height="152"
        />
        <h3 class="team-card-name">Jack Turner</h3>
        <p class="team-role">Photographer & Visual Archivist</p>
      </li>
      <li class="team-card">
        <img
          class="team-card-img"
          src="./img/team-img/team-06.jpg"
          alt="Ben Novak"
          srcset="
            ./img/team-img/team-06.jpg    1x,
            ./img/team-img/team-06@2x.jpg 2x
          "
          width="152"
          height="152"
        />
        <h3 class="team-card-name">Ben Novak</h3>
        <p class="team-role">Outdoor Logistics Manager</p>
      </li>
    </ul>
  </div>
</section>
