body {
  font-family: 'Tajawal', sans-serif;
  color: #0c0788;
  background-color: #faf6f3;
  font-size: 18px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  border: none;
  padding: 0;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.section {
  padding: 64px 0;
}

.section-title {
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.01em;
}

.hide {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
